{% extends "base.html" %}
{% block content %}

  {% for job_id, jobinfo in jobs.items() %}
    <p>{{ job_id }}</p>
    <small style="display:block;">Started at: {{ jobinfo['started_at']|timestamp_to_datetime }}</small>
    <small style="display:block;">Link: {{ jobinfo['yt_url'] }}</small>
    <small style="display:block;">Status: {{ jobinfo['status'] }}</small>
    <small style="display:block;">Message: {{ jobinfo['message']|default('') }}</small>
  {% else %}
    <p>No tasks found</p>
  {% endfor %}

{% endblock %}