{% extends "base.html" %}
{% block content %}

  {% if msg %}
    <p style="color:{{ 'red' if msg['type'] == 'error' else 'green' }}">{{ msg['msg'] }}</p>
  {% endif %}
  <a href="{{ url_for('tasks') }}">Go to tasks</a>
  <form action="{{ url_for('upload') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
      <div>
        <label for="url">Youtube URL:</label>
      </div>
      <div>
        <input type="text" name="url" id="url">
      </div>
    </div>
    <input type="hidden" name="folder_id" id="folder_id">
    <div class="form-group">
      <div>
        <label for="url">Destination Folder: <a href="{{ url_for('refresh_folders') }}">Refresh</a></label>
        <div><small>If not select, file will be uploaded to root folder</small></div>
      </div>
      <div id="folders-wrapper">
        <ul style="list-style:none;padding:0.4em;margin:0;">
          <li id=''><span style="cursor:pointer;">root</span></li>
          {% for f in folder_hierarchy -%}
            {% set outer_lvls = [] %}
            {% if not loop.last %}
              {% for next_f in folder_hierarchy[loop.index:] %}
                {% if next_f|length < f|length and next_f|length not in outer_lvls %} 
                  {{ outer_lvls.append(next_f|length) or '' }}
                {% endif %}
              {% endfor %}
            {% endif %}
            {# must be kept on same line because of `pre-wrap` #}
            <li id="{{ f|last }}" style="white-space: pre-wrap;">{% for outer_lvl in outer_lvls|sort %}{% if loop.first %}{{ " " * (outer_lvl - 1) * 8 }}<span class="tree-guideline-left">{{ " " * 8 }}</span>{% else %}{{ " " * (outer_lvl - 1 - loop.previtem) * 8 }}<span class="tree-guideline-left">{{ " " * 8 }}</span>{% endif %}{% endfor %}{{ " " * (f|length - (outer_lvls|max if outer_lvls else 0) - 1) * 8 }}<span class="tree-guideline">{{ " " * 8 }}</span><span class="folder-name" style="cursor:pointer;">{{ folders_map[f|last]}}</span></li>
          {%- endfor %}
        </ul>
      </div>
    </div>
    <div class="form-group">
    <button type="submit">Submit</button>
    </div>
  </form>

  <script type="text/javascript">
    $folderLabels = document.querySelectorAll("#folders-wrapper li .folder-name");
    for (var i = 0; i < $folderLabels.length; i++) {
      $folderLabels[i].addEventListener('click', function(e) {
        for (var j = 0; j < $folderLabels.length; j++) {
          if ($folderLabels[j] === this) {
            continue;
          }
          $folderLabels[j].style.backgroundColor = ''
          $folderLabels[j].style.color = ''
        }
        if (this.style.backgroundColor !== '') {
          this.style.backgroundColor = ''
          document.getElementById('folder_id').value = '';
        } else {
          this.style.backgroundColor = 'blue';
          document.getElementById('folder_id').value = this.parentElement.id;
        }
        if (this.style.color !== '') {
          this.style.color = ''  
        } else {
          this.style.color = 'white';
        }
      })
    }
  </script>
{% endblock %}